html, body {
  height: 100%;
  margin: 0; /* Reset default margins */
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.root {
  display: flex;
  min-height: 100vh; /* Use 100vh to fill the viewport height */
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #e8e417;
  box-sizing: border-box;
}

.joingameform {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}